[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-databricks = "1.7.1"
databricks-connect = "*"
databricks-sdk = "*"

[dev-packages]

[requires]
python_version = "3.9"
