default:
  outputs:
    dev:
      type: databricks
      catalog: <default_catalog_name>
      schema: <default_schema_name>
      host: <databricks_host_name>
      http_path: <databricks_host_http_path>
      threads: <thread_count>
      token: "{{ env_var('DBT_ACCESS_TOKEN') }}"
  target: dev